html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url('layout/logo.png');
    background-repeat: no-repeat;
    background-position: center 22px;
}

#main {
    margin: 0;
    padding: 90px 27px 27px 27px;
    width: 1000px;
    height: 500px;
    background-image: url('layout/game.png');
    background-repeat: no-repeat;
    background-position: center 67px;
}

#cnv {
    cursor: crosshair;
}

#renderer {
    display: none;
}